<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content class="ion-padding">


  <ion-list  *ngFor="let item of tasksData">
  
    <!-- Multi-line sliding item with icon options on both sides -->
    <ion-item-sliding id="{{item.id}}">
      <ion-item>
        <ion-label>
          <h2>{{item.title}}</h2>
          <p>{{item.address}}</p>
          <p>Oceanic Next has joined your network</p>
        </ion-label>
        <ion-note slot="end">

          <div *ngIf="item.accepted">
            <ion-button color="success">
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
           </div>

           <div *ngIf="!item.accepted">
            <ion-button (click)="presentAlertCheckbox(item)">
              <ion-icon name="add"></ion-icon>
            </ion-button>
           </div>

        </ion-note>
      </ion-item>
  
    </ion-item-sliding>

  </ion-list>

</ion-content>
