<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Messages
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content class="ion-padding">


  <ion-list  *ngFor="let item of messagesData">
  
    <!-- Multi-line sliding item with icon options on both sides -->
    <ion-item-sliding id="{{item.id}}">
      <ion-item>
        <ion-label>
          <h2>{{item.id}}</h2>
          <p>{{item.description}}</p>
        </ion-label>
        <ion-note slot="end">
          

        </ion-note>
      </ion-item>
  
    </ion-item-sliding>

  </ion-list>

</ion-content>
