<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  <div id="container">
    
    <ion-button expand="fill">
      <ion-icon name="pulse"></ion-icon>
      Monitoring
    </ion-button>

    <ion-button expand="fill">
      <ion-icon name="file-tray-full"></ion-icon>
      Tasks
    </ion-button>
    
    <ion-button expand="fill">
      <ion-icon name="location"></ion-icon>
      MAPS
    </ion-button>

    <ion-button expand="fill">
      <ion-icon name="car"></ion-icon>
      Operational
    </ion-button>

    <ion-button expand="fill">
      <ion-icon name="watch"></ion-icon>
      Device
    </ion-button>

    <ion-button expand="fill" routerLink="/student-list">
      <ion-icon name="finger-print"></ion-icon>
      Profile
    </ion-button>


    
    
    </div>

</ion-content>
